body {
    margin: 0;
}

canvas {
    position: absolute;
    left: 100px;
    top: 12px;
    border: 1px solid black;
    cursor: crosshair;
}

body.move canvas {
    cursor: move;
}

.toolbar {
    position: absolute;
    left: 12px;
    top: 12px;
    width: 68px;
    border: 2px solid black;
    padding: 2px;
}

.tool {
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 2px;
    cursor: pointer
}

.tool:hover {
    background: rgb(217, 217, 217);
}

.tool.active {
    background: rgb(88, 174, 202);
}